<h3>Getting started</h3>

<h4>
  Preparing the PYNQ board
</h4>

<p class="more-details">More details on <a (click)="openPynq()">the PYNQ website</a></p>

<div style="display: flex;">
    <div class="sub">
      <img src="assets/pynq_sd.jpg" />
      <p><span class="pink">1.</span> Insert the Sygnaller SD card</p>
    </div>
    <div class="sub">
      <img src="assets/pynq_cables.jpg" />
      <p><span class="pink">2.</span> Plug in power and Ethernet</p>
    </div>
    <div class="sub">
      <img src="assets/pynq_mac.jpg" />
      <p><span class="pink">3.</span> Locate your unique MAC address</p>
    </div>
</div>

<h4>
  Developing your project
</h4>

<p>
  Just start by creating a new project and writing some code.
</p>
<p>
  For more help, check out the documentation on the <a (click)="openDocs()">Sygnaller website</a>.
</p>
