
<button class="ui button pointing dropdown" suiDropdown>
  <i class="add icon pink"></i>Build a new component

  <div class="menu" suiDropdownMenu style="background: #FBFBFB;">
    <div class="item disabled" *ngIf="availableModules.size == 0">
      <em>Verilog modules you create will appear here</em>
    </div>
    <div class="item"
         *ngFor="let c of availableModules | keyvalue"
         [ngClass]="project.components.has(c.value.name) ? 'in-use' : ''"
         (click)="newComponent(c.value.name)">
      {{c.value.name}}
    </div>
  </div>
</button>

<div class="ui card" *ngIf="project.components.size == 0">
  <div class="content">
    <p>
      <i class="icon info circle blue"></i>
      Components are the glue between your Python code and the hardware you design.
    </p>
    <ol>
      <li>Start by coding up a Verilog module</li>
      <li>Select your module from the <strong>New component</strong> menu</li>
      <li>Make the necessary input/output connections</li>
      <li>We'll show you how to interface with it from Python code</li>
    </ol>
  </div>
</div>

<div class="ui card" *ngFor="let c of project.components | keyvalue">
  <div class="content">
    <h3>{{c.value.moduleName}}
      <i class="red trash icon delete-component" [ngClass]="darkTheme ? 'inverted' : ''" (click)="deleteComponent(c.value)"></i></h3>
  </div>
  <div class="content horizontal-split">
    <div style="flex: 1.8;">
      <app-component-block
        [verilogModule]="availableModules.get(c.value.moduleName)"
        [(bindings)]="c.value.bindings"
        (bindingsChange)="project.save()"
        (clearVideoOut)="clearVideoOut(c.key)"
        [dark]="darkTheme">
      </app-component-block>
    </div>
    &nbsp;
    <div>
      <pre class="code-sample" [ngClass]="darkTheme ? 'dark' : ''">
<span class="keyword">from</span> sygnaller <span class="keyword">import</span> hw

<span class="comment"># Setting input ports</span>
<span>hw.<span class="object">{{c.value.moduleName}}</span>.port_name <span class="keyword">=</span> value
</span>
<span class="comment"># Reading output ports</span>
<span>result <span class="keyword">=</span> hw.<span class="object">{{c.value.moduleName}}</span>.port_name
</span>
<span *ngIf="c.key == componentWithVideoOut"><span class="comment"># Processing video frames</span>
<span class="keyword">with</span> hw.<span class="object">video.start</span>():
    <span class="keyword">for</span> _ <span class="keyword">in</span> <span class="object">range</span>(100):
        hw.<span class="object">video.process_frame</span>()
</span>
</pre>
    </div>
  </div>
</div>
