:host {
  padding: 14px 14px 80px;
  overflow-y: auto;
}

.card {
  margin: 30px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  user-select: none;
}

.horizontal-split {
  display: flex;
}

.pointy {
  cursor: pointer;
}

.code-sample {
  margin-top: 0;
  font-family: "Monaco", "Consolas", monospace;
  width: 300px;
  max-width: 25vw;
  white-space: pre;
  overflow-x: auto;
  user-select: text;
  cursor: text;
}
.code-sample .comment {
  color: green;
}
.code-sample .keyword {
  color: deeppink;
}
.code-sample .object {
  color: #0e3bc1;
}
.code-sample.dark .comment {
  color: #64a500;
}
.code-sample.dark .keyword {
  color: hotpink;
}
.code-sample.dark .object {
  color: lightblue;
}

.delete-component {
  cursor: pointer;
  float: right;
  opacity: 0.9;
}
.delete-component:hover {
  opacity: 1;
}
