
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  width: 100%;
  background-color: #c0c1c2 !important;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 260px;
  float: left;
  padding: 8px;
  height: 100%;
  overflow-y: scroll;
}
.dark.sidebar {
  background: #3a3a34;
  color: rgba(255, 255, 255, 0.8);
}


.main-content {
  flex: 1;
}

.status-bar {
  background: #c0c1c2;
  padding: 2px 8px;
}
