
<div style="width: 600px; height: 200px; background: #DDF;"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)">
    {{fdata}}
</div>

<button class="ui button" (click)="editorFilename = 'untitled.py'">Python</button>
<button class="ui button" (click)="editorFilename = 'untitled.v'">Verilog</button>
<button class="ui button" (click)="editorFilename = 'untitled.txt'">Text</button>

<button class="ui button" (click)="editorDarkTheme = false">Light</button>
<button class="ui button" (click)="editorDarkTheme = true">Dark</button>

<app-code-editor
  [contents]="editorContents"
  [darkTheme]="editorDarkTheme"
  [filename]="editorFilename">
</app-code-editor>

<button class="ui button" (click)="pingGoogle()">Ping test</button>
