@import "../styles";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  width: 100%;
  background-color: $color-toolbar-light !important;
  border-bottom: solid 1px rgba(127, 127, 127, 0.2);
  margin-bottom: 0;
}
.dark.toolbar {
  background-color: $color-toolbar-dark !important;
}

.main {
  display: flex;
  flex: 1;
}
.main.dark {
  background: #272823;
  color: rgba(255, 255, 255, 0.8);
}

.sidebar {
  width: 260px;
  float: left;
  padding: 8px;
  height: 100%;
  overflow-y: scroll;
}
.dark.sidebar {
  background: #3a3a34;
  color: rgba(255, 255, 255, 0.8);
}


.main-content {
  flex: 1;
}

.status-bar {
  background: $color-toolbar-light;
  padding: 2px 8px;
  user-select: none;
}
.dark.status-bar {
  background: $color-toolbar-dark;
  // color: rgba(255, 255, 255, 0.8);
}
