
<!-- Toolbar -->

<div class="toolbar" [ngClass]="darkTheme ? 'dark' : ''"i>
  <div class="ui secondary menu" *ngIf="project == null">
    <div class="item">
      <div class="ui buttons">
        <button class="ui pink button" (click)="openProjectWizard()">
          <i class="plus icon"></i>New project
        </button>
        <div class="or"></div>
        <button class="ui button" (click)="openProject()">
          <i class="folder open icon"></i>Open project
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="project != null" style="display: flex;">
    <div> <!-- required to position menu correctly -->
      <div class="ui secondary menu">
        <div class="item">
          <div class="ui buttons">
            <button class="ui button pointing dropdown" suiDropdown>
              <i class="plus icon"></i>New file
              <div class="menu" suiDropdownMenu>
                <div class="item" (click)="newFileWizard('software')">
                  <i class="code blue icon left"></i>
                  Software file
                </div>
                <div class="item" (click)="newFileWizard('hardware')">
                  <i class="code pink icon left"></i>
                  Hardware file
                </div>
                <div class="item" (click)="newFileWizard('data')">
                  <i class="file alternate outline grey icon left"></i>
                  Data file
                </div>
              </div>
            </button>
            <div class="or"></div>
            <button class="ui button pointing dropdown" suiDropdown>
              <i class="folder open icon"></i>Import file
              <div class="menu" suiDropdownMenu>
                <div class="item" (click)="importFileWizard('software')">
                  <i class="code blue icon left"></i>
                  Software file
                </div>
                <div class="item" (click)="importFileWizard('hardware')">
                  <i class="code pink icon left"></i>
                  Hardware file
                </div>
                <div class="item" (click)="importFileWizard('data')">
                  <i class="file alternate outline grey icon left"></i>
                  Data file
                </div>
              </div>
            </button>
          </div>

          <div class="item">
            <button class="ui button"
                    [ngClass]="editorFilename ? '' : 'disabled'" (click)="saveFile()">
              <i class="save icon"></i> Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-left: auto">
      <div class="ui secondary menu">
        <div class="item">
          <div class="ui buttons">
            <button class="ui button pointing dropdown" suiDropdown *ngIf="pynq.connectionStatus == StatusType.DISCONNECTED">
              <i class="plug icon"></i>Connect to Pynq
              <div class="menu" suiDropdownMenu>
                <div class="item" (click)="newConnectionWizard()">
                  <i class="asterisk pink icon left"></i>
                  New connection
                </div>
                <div class="header" *ngIf="pynq.recentConnections.length > 0">Recently connected</div>
                <div class="item"
                     (click)="connectPynq(c.mac, c.ip)"
                     *ngFor="let c of pynq.recentConnections"
                     (contextmenu)="pynq.removeFromRecents(c)">
                  {{c.mac == null ? c.ip : c.mac | formatMac}}
                </div>
              </div>
            </button>
            <button class="ui button pointing dropdown" suiDropdown *ngIf="pynq.connectionStatus == StatusType.CONNECTED">
              <i class="green plug icon"></i>Connected to Pynq
              <div class="menu" suiDropdownMenu>
                <div class="item disabled"><i class="at grey icon left"></i> {{pynq.connectedMac}}</div>
                <div class="item disabled"><i class="sitemap grey icon left"></i> {{pynq.connectedIp}}</div>
                <div class="item" (click)="disconnectPynq()">
                  <i class="unlink grey icon left"></i>
                  Disconnect
                </div>
              </div>
            </button>
            <button class="ui button" *ngIf="pynq.connectionStatus == StatusType.CONNECTING">
              <i class="yellow plug icon"></i>Connecting...
            </button>
            <button class="ui button" *ngIf="pynq.connectionStatus == StatusType.CONNECTED && !pynq.isRunning && !pynq.isBuilding" (click)="buildProject()">
              <i class="wrench icon"></i>Build
            </button>
            <button class="ui button" *ngIf="pynq.connectionStatus == StatusType.CONNECTED && !pynq.isRunning && pynq.isBuilding" (click)="goToBuildPage()">
              <i class="asterisk loading icon"></i>Building
            </button>
            <button class="ui button pointing dropdown" suiDropdown *ngIf="pynq.connectionStatus == StatusType.CONNECTED && !pynq.isRunning">
              <i class="play icon"></i>Run
              <div class="menu" suiDropdownMenu>
                <div class="item" (click)="runProject()">
                  Run main.py
                </div>
                <div class="item" (click)="runProject(activeSelection?.category + '/' + activeSelection?.file)" [ngClass]="activeSelection?.category == 'software' ? '' : 'disabled'">
                  
                  Run current file
                </div>
              </div>
            </button>
            <button class="ui button" *ngIf="pynq.connectionStatus == StatusType.CONNECTED && pynq.isRunning" (click)="stopProject()">
              <i class="stop icon red"></i>Stop running
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Main content -->

<div class="main" [ngClass]="darkTheme ? 'dark' : ''">
  <div class="sidebar" [ngClass]="darkTheme ? 'dark' : ''">

    <app-recent-projects
      *ngIf="project == null"
      (loadProject)="projectLoaded($event)"
      [darkTheme]="darkTheme">
    </app-recent-projects>

    <app-sidebar
      *ngIf="project != null"
      [project]="project"
      [(selection)]="activeSelection"
      (selectionChange)="selectionChanged($event)"
      (runPythonFile)="runProject($event)"
      [darkTheme]="darkTheme"
      [showTools]="pynq.connectionStatus == StatusType.CONNECTED">
    </app-sidebar>
  </div>

  <app-getting-started-page
    class="main-content"
    *ngIf="project == null"
    [darkTheme]="darkTheme">
  </app-getting-started-page>

  <app-code-editor
    class="main-content"
    *ngIf="project != null && editorFilename != null"
    [(contents)]="editorContents"
    (buildNewComponent)="buildNewComponent($event)"
    (openBuildInfo)="activeSelection = {category: 'tools', file: 'build'}; selectionChanged({category: 'tools', file: 'build'})"
    [project]="project"
    [darkTheme]="darkTheme"
    [filename]="editorFilename"
    [errorLine]="editorErrorLine">
  </app-code-editor>

  <app-terminal
    class="main-content"
    *ngIf="project != null"
    [show]="activeSelection?.category == 'tools' && activeSelection?.file == 'terminal'"
    [pynq]="pynq"
    [running]="pynq.isRunning"
    [darkTheme]="darkTheme">
  </app-terminal>

  <app-component-editor
    #componentEditor
    class="main-content"
    *ngIf="project != null && activeSelection?.category == 'tools' && activeSelection?.file == 'components'"
    [darkTheme]="darkTheme"
    [project]="project"
    (onError)="alert($event.title, $event.message)">
  </app-component-editor>

  <app-build-info
    class="main-content"
    *ngIf="project != null && activeSelection?.category == 'tools' && activeSelection?.file == 'build'"
    [pynq]="pynq"
    [lastBuildStatus]="pynq.lastBuildStatus"
    (linkClicked)="activeSelection = $event.selection; selectionChanged($event.selection); editorErrorLine = $event.line"
    (stopBuild)="stopBuilding()">
  </app-build-info>

  <app-video-stream
    class="main-content"
    *ngIf="project != null && activeSelection?.category == 'tools' && activeSelection?.file == 'video'"
    [pynq]="pynq">
  </app-video-stream>

  <div class="main-content image-preview"
       *ngIf="imageViewerPath">
    <img [src]="imageViewerPath" />
  </div>
</div>

<div class="status-bar" [ngClass]="darkTheme ? 'dark' : ''">
  <span>&nbsp;{{statusText}}</span>
  <sui-progress class="bottom attached blue active"
                [class]="darkTheme ? 'inverted' : ''"
                [value]="progressBar"
                [showProgress]="false"
                *ngIf="progressBar != null"></sui-progress>
</div>


<!-- Modals -->

<ng-template let-context let-modal="modal" #simpleAlertModal>
  <div class="header">{{ context.title }}</div>
  <div class="content">
    <p>{{ context.message }}</p>
  </div>
  <div class="actions">
    <button class="ui basic green button" (click)="modal.approve()" autofocus>OK</button>
  </div>
</ng-template>

<app-new-project-modal
  [open]="openModal_newProject"
  (close)="openModal_newProject = false"
  (createProject)="createProject($event)">
</app-new-project-modal>

<app-rename-file-modal
  [open]="openModal_newFile"
  (close)="openModal_newFile = false"
  [modalTitle]="'New ' + newFileModal_category + ' file'"
  modalAction="Create"
  [dirname]="newFileModal_dirname"
  [filename]="newFileModal_placeholder"
  (renameFile)="newFile($event)">
</app-rename-file-modal>

<app-new-connection-modal
  [open]="openModal_newConnection"
  (close)="openModal_newConnection = false"
  (connect)="connectPynq($event.mac, $event.ip)">
</app-new-connection-modal>

<app-rename-project-modal
  [open]="openModal_renameProject"
  (close)="openModal_renameProject = false"
  [projectName]="project?.name"
  (renameProject)="renameProject($event)">
</app-rename-project-modal>
