
:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.card {
  width: 90%;
  margin: 12px auto;
  margin-top: 20px !important;
  color: black;
  background: rgba(255, 255, 255, 0.76);
  cursor: default;
  user-select: none;
  flex-shrink: 0;
  overflow-x: auto;
}

td {
  user-select: text;
}

.build-progress {
  margin-top: 12px !important;
  margin-bottom: 0 !important;
}

.build-report {
  user-select: text;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 100%;
  flex: 1;
  font-family: "Monaco", "Consolas", monospace;
  color: inherit;
  min-height: 150px;
}

.positive-slack {
  color: green;
}
.negative-sack {
  color: red;
}

h3 {
  margin-left: 8px;
}

.error-id {
  opacity: 0.5;
}
.error-file {
  font-weight: bold;
}
.error-link {
  cursor: pointer;
}
.error-link:hover {
  text-decoration: underline;
}
.error-line {
  color: #2d5096;
}
