
:host {
  display: flex;
  flex-direction: column;
}

.card {
  width: 90%;
  margin: 12px auto;
  margin-top: 20px !important;
  color: black;
  background: rgba(255, 255, 255, 0.76);
  cursor: default;
  user-select: none;
}

sui-progress {
  margin-top: 12px !important;
  margin-bottom: 0 !important;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 100%;
  flex: 1;
  font-family: "Monaco", "Consolas", monospace;
  color: inherit;
}

.positive-slack {
  color: green;
}
.negative-sack {
  color: red;
}
