<div class="ui card" *ngIf="pynq.isBuilding">
  <div class="content">
    <h4><i class="coffee icon"></i>
      Building your hardware
      <span class="ui red basic mini button" style="float: right;" (click)="onStopBuild()">
        <i class="red stop icon"></i>
        Stop
      </span>
    </h4>
  </div>
  <div class="content">
    <p>Sit back and relax. Builds can take a while, so it's a good time for a cup of tea.</p>
    <sui-progress class="build-progress active small"
                  [showProgress]="false"
                  [ngClass]="pynq.connectionStatus == PynqStatus.CONNECTED ? 'pink' : 'disabled'"
                  [value]="pynq.buildProgress">
    </sui-progress>
  </div>
</div>

<div class="ui card" *ngIf="!pynq.isBuilding && _lastBuildStatus == 'SUCCESS'">
  <div class="content">
    <h4><i class="green check icon"></i> Hardware last built {{pynq.lastBuildTime | ago}}</h4>
  </div>
  <div class="content">
    <p>The build took {{buildTimeTaken}}.</p>


    <table class="ui celled table">
      <thead>
      <tr>
        <th width="50%">Clock frequency</th>
        <th width="50%">Clock period</th>
      </tr>
      </thead>
      <tr>
        <td>100 MHz</td>
        <td>10 ns</td>
      </tr>
    </table>


    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2" width="50%">Setup slack</th>
          <th colspan="2" width="50%">Hold slack</th>
        </tr>
      </thead>
      <tr>
        <td>Worst-case timings</td>
        <td>
          {{absWNS}} ns <br>
          <span [ngClass]="WNS >= 0 ? 'positive-slack' : 'negative-slack'">
            {{WNS >= 0 ? 'of margin to spare' : 'over the limit'}}
          </span>
        </td>
        <td>Worst-case timings</td>
        <td>
          {{absWHS}} ns <br>
          <span [ngClass]="WHS >= 0 ? 'positive-slack' : 'negative-slack'">
            {{WHS >= 0 ? 'of margin to spare' : 'over the limit'}}
          </span>
        </td>
      </tr>
    </table>

    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="4">Resource utilisation</th>
        </tr>
      </thead>
      <tr>
        <td>
          <sui-progress class="pink small" [value]="usageLUTs.percent">Logic elements</sui-progress>
        </td>
        <td>
          <sui-progress class="pink small" [value]="usageRegs.percent">Registers</sui-progress>
        </td>
        <td>
          <sui-progress class="pink small" [value]="usageRAM.percent">Block RAM</sui-progress>
        </td>
        <td>
          <sui-progress class="pink small" [value]="usageDSP.percent">DSP</sui-progress>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="ui card" *ngIf="!pynq.isBuilding && _lastBuildStatus == 'ERROR'">
  <div class="content">
    <h4><i class="red times icon"></i> The build did not complete</h4>
  </div>
  <div class="content build-report" [innerHTML]="pynq.buildReport | nl2br : true">
  </div>
</div>

<div class="ui card" *ngIf="!pynq.isBuilding && _lastBuildStatus == 'SYNTHESIS_FAIL'">
  <div class="content">
    <h4><i class="red times icon"></i> Hardware synthesis failed</h4>
  </div>
  <div class="content build-report">
    <p *ngFor="let err of errorList">
      <span *ngIf="err.id" class="error-id">{{err.id}}: </span>
      <span *ngIf="err.message" class="error-message">{{err.message}}</span>
      &nbsp;
      <span *ngIf="err.file" class="error-file" [ngClass]="err.link ? 'error-link' : ''" (click)="onFileClick(err.link)">
        [{{err.file}}<span *ngIf="err.line" class="error-line">:{{err.line}}</span>]
      </span>
    </p>
  </div>
</div>

<div class="ui card" *ngIf="!pynq.isBuilding && _lastBuildStatus == 'SYNTAX_ERROR'">
  <div class="content">
    <h4><i class="red times icon"></i> Syntax error</h4>
  </div>
  <div class="content build-report">
    <p *ngFor="let err of errorList">
      <span *ngIf="err.id" class="error-id">{{err.id}}: </span>
      <span *ngIf="err.message" class="error-message">{{err.message}}</span>
      &nbsp;
      <span *ngIf="err.file"
            class="error-file"
            [ngClass]="err.link ? 'error-link' : ''"
            (click)="onFileClick(err.link, err.line)">[{{err.file}}<span *ngIf="err.line" class="error-line">:{{err.line}}</span>]</span>
    </p>
  </div>
</div>

<div class="ui card" *ngIf="!pynq.isBuilding && _lastBuildStatus == 'IMPLEMENTATION_FAIL'">
  <div class="content">
    <h4><i class="red times icon"></i> Hardware implementation failed</h4>
  </div>
  <div class="content build-report" [innerHTML]="pynq.buildReport | nl2br : true">
  </div>
</div>

<div class="ui card" *ngIf="!pynq.isBuilding && _lastBuildStatus == ''">
  <div class="content">
    <h4><i class="yellow asterisk icon"></i> Never built</h4>
  </div>
  <div class="content build-report">
    Create some hardware files and build them by clicking <strong>Build</strong> in the top toolbar.
  </div>
</div>

<h3>Build logs</h3>
<textarea #textarea readonly [value]="pynq.logs" (scroll)="onScroll()"></textarea>
