<h4 class="ui">Software files</h4>
<div class="ui secondary fluid vertical menu" [ngClass]="darkTheme ? 'inverted' : ''">
  <a class="item">
    <i class="file code outline blue icon left"></i>
    example.py
  </a>
  <a class="item">
    <i class="file code outline blue icon left"></i>
    untitled.py
  </a>
  <a class="item">
    <i class="file code outline blue icon left"></i>
    main.py
  </a>
</div>
<h4 class="ui">Hardware files</h4>
<div class="ui secondary fluid vertical menu" [ngClass]="darkTheme ? 'inverted' : ''">
  <a class="item">
    <i class="file code outline pink icon left"></i>
    example.v
  </a>
  <a class="item">
    <i class="file code outline pink icon left"></i>
    untitled.v
  </a>
  <a class="item">
    <i class="file code outline pink icon left"></i>
    main.v
  </a>
</div>
<h4 class="ui">Data files</h4>
<div class="ui secondary fluid vertical menu" [ngClass]="darkTheme ? 'inverted' : ''">
  <a class="item">
    <i class="table green icon left"></i>
    table.csv
  </a>
  <a class="item">
    <i class="image outline brown icon left"></i>
    sample.png
  </a>
</div>
