<h4 class="ui">Software files</h4>
<div class="ui secondary fluid vertical menu" [ngClass]="darkTheme ? 'inverted' : ''">
  <a class="item" *ngFor="let f of softwareFiles">
    <i class="file code outline blue icon left"></i>
    {{f}}
  </a>
</div>
<h4 class="ui">Hardware files</h4>
<div class="ui secondary fluid vertical menu" [ngClass]="darkTheme ? 'inverted' : ''">
  <a class="item" *ngFor="let f of hardwareFiles">
    <i class="file code outline pink icon left"></i>
    {{f}}
  </a>
</div>
<h4 class="ui">Data files</h4>
<div class="ui secondary fluid vertical menu" [ngClass]="darkTheme ? 'inverted' : ''">
  <a class="item" *ngFor="let f of dataFiles">
    <i class="icon left" [ngClass]="iconFromPath(f)"></i>
    {{f}}
  </a>
</div>
