/* You can add global styles to this file, and also import other style files */

.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0 0.35714286em 0 0;
}

/* Hotfix for semantic modals */
.ui.modal {
  top: 50%;
  position: fixed;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.modal {
    width: 88%;
    margin: 0 0 0 0;
    left: 6% !important;
    top: 50% !important;
    position: fixed !important;
  }
}
@media only screen and (min-width: 992px) {
  .ui.modal {
    width: 850px;
    margin: 0 0 0 -425px;
    top: 50%;
    left: 50%;
    position: fixed;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.modal {
    width: 900px;
    margin: 0 0 0 -450px;
    top: 50%;
    left: 50%;
    position: fixed;
  }
}
