<div class="box" [ngClass]="dark ? 'dark' : ''" style="overflow: initial;">
  <!-- binding, dash, port name, empty, port name, dash, binding -->

  <div></div>

  <table>
    <tr *ngFor="let p of inputPorts">
      <td class="r binding ui pointing dropdown" suiDropdown>
        {{_bindingsMap.get(p.name) ? _bindingsMap.get(p.name): 'input'}}
        <div class="menu" suiDropdownMenu>
          <div class="item" (click)="removeBinding(p.name)">input</div>
          <div class="item" (click)="setBinding(p.name, 'clock')">clock</div>
        </div>
      </td>
    </tr>
  </table>
  <div class="inside">
    <div class="bkg"></div>
    <table>
      <tr *ngFor="let p of inputPorts">
        <td class="dash"><div></div></td>
        <td class="l">{{p.name}}</td>
      </tr>
    </table>

    <table>
      <tr *ngFor="let p of outputPorts">
        <td class="r">{{p.name}}</td>
        <td class="dash"><div></div></td>
      </tr>
    </table>
  </div>
  <table>
    <tr *ngFor="let p of outputPorts">
      <td class="l binding ui pointing dropdown" suiDropdown>
        {{_bindingsMap.get(p.name) ? _bindingsMap.get(p.name): 'output'}}
        <div class="menu" suiDropdownMenu>
          <div class="item" (click)="removeBinding(p.name)">output</div>
          <div class="item" (click)="setBinding(p.name, 'scope')">scope</div>
        </div>
      </td>
    </tr>
  </table>

  <div></div>
</div>
